{
    "extends": [
      "eslint:recommended",
      "google"
    ],
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "env": {
      "node": true,
      "mocha": true
    },
    "rules": {
      "require-jsdoc": "off",
      "no-console": "off",
      "linebreak-style": ["error", "windows"],
      "indent": ["error", 4]
    }
  }